/*TASK 1*/

.c1.c2 {
    color: red;
}

/*TASK 2*/
.c2 {
    color: red;
}
.c2 .c2 {
    color: black;
}

/*TASK 3*/

#inp2 + span {
    color: red;
}

/*TASK 4*/

#inp1:hover + *, #inp1:hover + *  + * {
color: red;
}
